<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>GuruMatch</title>

    <!-- css link-->
    <link rel="stylesheet" href="css/styles.css" />

    <!-- bootstrap 5.0 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
      crossorigin="anonymous"
    ></script>
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap" rel="stylesheet">
    <!-- Fonts -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  </head>

  <body>
    <div class="row col-md-12 h-100">
    <div class="row mx-auto my-auto">
      <div class="col-md-2">
        <div class="" style="height:10%; width:100%;top:5rem;position:relative;">
          <span class="homeMiniText"><img src="../img/booksLogo.png" style="width:15px; height:15px; margin: auto; font-size: 1rem; float:left;">GURUMACH</span>
          <span class="homeMiniText"><img src="../img/booksLogo.png" style="width:15px; height:15px; margin: auto; font-size: 1rem; float:left;">GURUMACH</span>
          <span class="homeMiniText"><img src="../img/booksLogo.png" style="width:15px; height:15px; margin: auto; font-size: 1rem; float:left;">GURUMACH</span>
        </div>
        <div class="mx-auto leftMenu" style="margin-top: 8rem;margin-bottom: 8rem;">
          <div class="leftMenuItem"><i class="fa fa-home"></i>&nbsp;&nbsp;Home</div>
          <div class="leftMenuItem"><i class="fa fa-user"></i>&nbsp;&nbsp;Profile</div>
          <div class="leftMenuItem"><i class="fa fa-bell"></i>&nbsp;&nbsp;Notification</div>
          <div class="leftMenuItem"><i class="fa fa-comment"></i>&nbsp;&nbsp;Message</div>
        </div>
      </div>
      <div class="col-md-10 mx-auto h-100" style="padding-top: 2rem;">
        <div class="card col-md-10 mx-auto h-100 w-100" style="" id="login-card">
          <div id="home" style="margin-bottom:1rem; display:none;">
            <h1 class="homeTitle-h1">Welcome to GuruMatch</h1>
            <h2 class="homeUser-h2">Username</h2>
            <div>
              <img src="../img/undraw_celebration_0jvk 1.png" />
            </div>
            <p class="homePhrase">You may think you know a lot, here you understand that you have a lot to learn</p>
          </div>
          <div id="main_home" style="margin-bottom:1rem; display: block;">
            <div>
              <img src="../img/ondulatedDiv.png" style="border-radius:32px 32px 0px 0px; width:100%;"/>
              <div style="position:absolute; top: 2rem;left: 2rem;">
                <div style="margin-bottom:2rem; text-align:left; margin-left:2rem;">I am looking for a <select><option value=""></option><option value="Mentor">Mentor</option><option value="Mentee">Mentee</option></select></div>
                <div><img src="../img/Group 1279.png" style="margin-left:1rem;"/><img src="../img/Group 1280.png" style="margin-left:1rem;"/><img src="../img/Group 1281.png" style="margin-left:1rem;"/></div>
              </div>
            </div>
            <div>
              <nav class="navbar navbar-expand-lg navbar-light">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item active">
                      <a class="nav-link" href="#">Recomended</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="#">Art</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Math</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Physic</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Chemistry</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Sport</a></li>
                  </ul>
                  <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  </form>
                </div>
              </nav>
            </div>
            <div style="text-align: left;margin-left: 10px;">
              <h5>Mentees</h5>
            </div>
            <div style="margin-bottom:1.2rem;">
              <div class="col-md-2" style="float:left;">
                <div class="card col-md-12 mx-auto cardAd" style="height:145px; width:175px;" id="card">
                  <img src="../img/add.png" style="width:44px;margin-left: auto;margin-right: auto;margin-top: auto;"/>
                  <h5 class="cardCreation">Create new card</h5>
                  <p class="typeOfCardCreate">Mentee</p>
                </div>
              </div>
              <div class="col-md-10" style="overflow-x:hidden;">
                <div style="overflow: hidden; width: max-content; height:151px;">
                  <div class="card col-md-3 specCard" style="height:145px; width:387px;float: left; margin-right:1rem;" id="card">
                    <div class="col-md-12" style="text-align:left; padding-left:12px; padding-top:12px; color: #2d3142;font-size:24px;font-weight: 500;font-family: 'Roboto';"><img src="../img/person1.png" />&nbsp;&nbsp;Username</div>
                    <div class="col-md-12" style="text-align:left; padding-left:12px; height:50px; font-size: 18px; color: #2d3142;font-family: 'Roboto';">I am looking for a mentor to know about User Interface Design</div>
                    <div class="row col-md-12">
                      <div class="col-md-4" style="float:left;font-size: 16px;color: #ffffff;font-weight: 500;font-family: 'Roboto';"><span class="badge bg-info">UI Design</span></div><div class="col-md-4"></div><div class="col-md-4" style="color: #4f5d75;font-weight: 500;font-family: 'Roboto';">Mentor</div>
                    </div>
                  </div>
                  <div class="card col-md-3 specCard" style="height:145px; width:387px;float: left; margin-right:1rem;" id="card">
                    <div class="col-md-12" style="text-align:left; padding-left:12px; padding-top:12px; color: #2d3142;font-size:24px;font-weight: 500;font-family: 'Roboto';"><img src="../img/person2.png" />&nbsp;&nbsp;Username</div>
                    <div class="col-md-12" style="text-align:left; padding-left:12px; height:50px; font-size: 18px; color: #2d3142;font-family: 'Roboto';">I am looking for a bodybuilding coach</div>
                    <div class="row col-md-12">
                      <div class="col-md-4" style="float:left;font-size: 16px;color: #ffffff;font-weight: 500;font-family: 'Roboto';"><span class="badge bg-danger">Sport</span></div><div class="col-md-4"></div><div class="col-md-4" style="color: #4f5d75;font-weight: 500;font-family: 'Roboto';">Mentor</div>
                    </div>
                  </div>
                  <div class="card col-md-3 specCard" style="height:145px; width:387px;float: left; margin-right:1rem;" id="card">
                    <div class="col-md-12" style="text-align:left; padding-left:12px; padding-top:12px; color: #2d3142;font-size:24px;font-weight: 500;font-family: 'Roboto';"><img src="../img/person3.png" />&nbsp;&nbsp;Username</div>
                    <div class="col-md-12" style="text-align:left; padding-left:12px; height:50px; font-size: 18px; color: #2d3142;font-family: 'Roboto';">I like to...</div>
                    <div class="row col-md-12">
                      <div class="col-md-4" style="float:left;font-size: 16px;color: #ffffff;font-weight: 500;font-family: 'Roboto';"><span class="badge bg-info">Sing</span></div><div class="col-md-4"></div><div class="col-md-4" style="color: #4f5d75;font-weight: 500;font-family: 'Roboto';">Mentor</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div style="text-align: left;margin-left: 10px;">
              <h5>Mentors</h5>
            </div>
            <div style="margin-bottom:1.2rem;">
              <div class="col-md-2" style="float:left;">
                <div class="card col-md-12 mx-auto cardAd" style="height:145px; width:175px;" id="card">
                  <img src="../img/add.png" style="width:44px;margin-left: auto;margin-right: auto;margin-top: auto;"/>
                  <h5 class="cardCreation">Create new card</h5>
                  <p class="typeOfCardCreate">Mentor</p>
                </div>
              </div>
              <div class="col-md-10" style="overflow-x:hidden">
                <div style="overflow: hidden; width:max-content; height:151px;">
                  <div class="card col-md-3 specCard" style="height:145px; width:387px;float: left; margin-right:1rem;" id="card">
                    <div class="col-md-12" style="text-align:left; padding-left:12px; padding-top:12px; color: #2d3142;font-size:24px;font-weight: 500;font-family: 'Roboto';"><img src="../img/person4.png" />&nbsp;&nbsp;Username</div>
                    <div class="col-md-12" style="text-align:left; padding-left:12px; height:50px; font-size: 18px; color: #2d3142;font-family: 'Roboto';">I have the hability to teach Integral</div>
                    <div class="row col-md-12">
                      <div class="col-md-4" style="float:left;font-size: 16px;color: #ffffff;font-weight: 500;font-family: 'Roboto';"><span class="badge bg-primary">Math</span></div><div class="col-md-4"></div><div class="col-md-4" style="color: #4f5d75;font-weight: 500;font-family: 'Roboto';">Mentor</div>
                    </div>
                  </div>
                  <div class="card col-md-3 specCard" style="height:145px; width:387px;float: left; margin-right:1rem;" id="card">
                    <div class="col-md-12" style="text-align:left; padding-left:12px; padding-top:12px; color: #2d3142;font-size:24px;font-weight: 500;font-family: 'Roboto';"><img src="../img/person5.png" />&nbsp;&nbsp;Username</div>
                    <div class="col-md-12" style="text-align:left; padding-left:12px; height:50px; font-size: 18px; color: #2d3142;font-family: 'Roboto';">I am looking for a student to teach physics</div>
                    <div class="row col-md-12">
                      <div class="col-md-4" style="float:left;font-size: 16px;color: #ffffff;font-weight: 500;font-family: 'Roboto';"><span class="badge bg-secondary">Physic</span></div><div class="col-md-4"></div><div class="col-md-4" style="color: #4f5d75;font-weight: 500;font-family: 'Roboto';">Mentor</div>
                    </div>
                  </div>
                  <div class="card col-md-3 specCard" style="height:145px; width:387px;float: left; margin-right:1rem;" id="card">
                    <div class="col-md-12" style="text-align:left; padding-left:12px; padding-top:12px; color: #2d3142;font-size:24px;font-weight: 500;font-family: 'Roboto';"><img src="../img/person6.png" />&nbsp;&nbsp;Username</div>
                    <div class="col-md-12" style="text-align:left; padding-left:12px; height:50px; font-size: 18px; color: #2d3142;font-family: 'Roboto';">I am looking for a student to teach physics</div>
                    <div class="row col-md-12">
                      <div class="col-md-4" style="float:left;font-size: 16px;color: #ffffff;font-weight: 500;font-family: 'Roboto';"><span class="badge bg-secondary">Sew</span></div><div class="col-md-4"></div><div class="col-md-4" style="color: #4f5d75;font-weight: 500;font-family: 'Roboto';">Mentor</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </body>
</html>
