<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>User Form</title>
    
        <!-- css link-->
        <link rel="stylesheet" href="/css/styles.css" />
    
        <!-- bootstrap 5.0 -->
        <link
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
          crossorigin="anonymous"
        />
        <script
          src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
          crossorigin="anonymous"
        ></script>
        <!-- Google Font -->
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link
          href="https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap"
          rel="stylesheet"
        />
        <script>
            function expandTextarea(id) {
                document.getElementById(id).addEventListener('keyup', function() {
                    this.style.overflow = 'hidden';
                    this.style.height = 0;
                    this.style.height = this.scrollHeight + 'px';
                }, false);
                }

            expandTextarea('txtarea');
        </script>
      </head>
<body>
    <form action="/userForm/<%= id%>" method="POST" class="row g-3" id="user-form">
        <div class="col-m-6">
            <label class="form-label">Username</label>
            <textarea class="form-control" name="username" rows="1"></textarea>
        </div>
        <div>
            <label>About Yourself</label>
            <textarea class="form-control" name="userBio" rows="3"></textarea>
        </div>
        <div>
            <label>Description</label>
            <textarea class="form-control" name="userDescription" rows="5"></textarea>
        </div>
        <div>
            <label>Skills</label>
            <textarea class="form-control" name="userSkills" rows="3"></textarea>
        </div>
        <div>
            <label>Industry</label>
            <textarea class="form-control" name="userIndustry" rows="2"></textarea>
        </div>
        <div>
            <label>tag</label>
            <textarea class="form-control" name="userTag" rows="2"></textarea>
        </div>
        <input id="userFrom-SubmitButton" class="btn btn-primary mb-3" type="submit" value="Submit">
    </form>
</body>
</html>